{% extends 'layout.html' %}
{% load crispy_forms_tags %}


{% block content %}
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
   <!-- Begin Page Content -->
                <div class="container-fluid">





                            <div class="card-body">
                                <div class="table-responsive">




      <!-- Main page content-->
                    <div class="container mt-4">
                        <!-- Account page navigation-->
                        <nav class="nav nav-borders">


                                        <a class="nav-link ml-0" href="profile"><strong>Profil</strong></a>
                                        <a class="nav-link active " href="change-password"><strong>Şifre Değiştir</strong></a>

                        </nav>
                        <hr class="mt-0 mb-4" />
                        <div class="row">
                            <div class="col-xl-6">





 <!-- Change password card-->
                                <div class="card mb-4">
                                    <div class="card-header">Şifre Değiştir</div>

                                    <div class="card-body" >

                                        <form action="{% url 'change-password' %}"  method="POST"  >
                                            {% csrf_token %}
                                                {{ form|crispy }}

<!--                                             Form Group (current password)-->
<!--                                            <div class="form-group">-->
<!--                                            -->
<!--                                                <label class="small mb-1" for="currentPassword">Mevcut Şifre</label>-->
<!--                                                <input class="form-control" id="currentPassword" type="password" placeholder="Mevcut Şifrenizi Giriniz" />-->
<!--                                            </div>-->
<!--                                            &lt;!&ndash; Form Group (new password)&ndash;&gt;-->
<!--                                            <div class="form-group">-->
<!--                                                <label class="small mb-1" for="newPassword">Yeni Şifre</label>-->
<!--                                                <input class="form-control" id="newPassword" type="password" placeholder="Yeni Şifrenizi Giriniz" />-->
<!--                                            </div>-->
<!--                                            &lt;!&ndash; Form Group (confirm password)&ndash;&gt;-->
<!--                                            <div class="form-group">-->
<!--                                                <label class="small mb-1" for="confirmPassword">Şifre Tekrarı</label>-->
<!--                                                <input class="form-control" id="confirmPassword" type="password" placeholder="Yeni Şifrenizi Tekrar Giriniz" />-->
<!--                                            </div>-->

                                            <button  class="btn btn-info mt-3 mb-3" type="submit" >Kaydet</button>
                                        </form>
                                    </div>

                                    <!--        Message Alert        -->
                                {% if messages %}
                                {% for message in messages %}
                                <center><div class="alert alert-success" role="alert">
                                {{ message }}
                                </div></center>
                                {% endfor %}
                                {% endif %}

                                </div>


















                         <!-- profilin altındaki çizgi-->
                                    <div class="card-header py-3">
                                </div>
                            </div>
                        </table>
                    </div>

                </div>

{% endblock %}

